@import "variables.less";
@import "bootstrap/bootstrap.less";
@import "slider.less";
@import "fonts.less";

input::-moz-focus-inner { 
  border: 0; 
}
a, a:hover, a:active, a:focus, object, embed {
   outline: 0;
   text-decoration: none;
}

a, a:hover, a:active, a:focus{cursor: pointer;}

.clearfix{.clearfix();}

.btn,
.btn:focus,
.btn:hover,
.form-control,
.form-control:focus,
.form-control:hover{
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
-moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

img{max-width: 100%;}

a,
a:link,
a:visited,
.btn,
#information article a:after {
  -webkit-transition-property: color, background, opacity, border-color;
  -moz-transition-property: color, background, opacity, border-color;
  -o-transition-property: color, background, opacity, border-color;
  transition-property: color, background, opacity, border-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }



/* load */
#spinner{background:@black; position: fixed; top:50%; left:50%; transform: translate(-50%, -50%); width: 2000px; height: 2000px; border-radius:100%;  z-index: 9999999999; overflow: hidden;}
#spinner{ -webkit-transition-property: width, height, left, top, color, background, opacity, border-color;
  -moz-transition-property: width, height, left, top, color, background, opacity, border-color;
  -o-transition-property: width, height, left, top, color, background, opacity, border-color;
  transition-property: width, height, left, top, color, background, opacity, border-color;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;}
#spinner.loadcomplete{width:0; height: 0; }

.brand{display: block; width: 500px;height: 500px; top: 50%; left: 50%; margin-top: -250px; margin-left: -250px; position: absolute; overflow: hidden;}
.brand img{max-height: 80%; max-width: 80%; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: auto; width: auto;}

.shadow {
    -webkit-filter: drop-shadow( 0px 0px 10px #000 );
            filter: drop-shadow( 0px 0px 10px #000 ); /* Same syntax as box-shadow */
}

.loader {
  position: absolute; bottom: 25%; left: 50%; margin: 0 0 -15px -15px;
  width: 30px;
  height: 30px;
  background-color: #fff;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


.splash-active{}
/*.wrap-section .section_inside{-ms-transform: translate(0,0);
-webkit-transform: translate(0,0);
transform: translate(0,0);
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;}
.wrap-section.splash-active .section_inside{-ms-transform: translate(100%,0);
-webkit-transform: translate(100%,0);
transform: translate(100%,0);}*/

.section_inside{position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; display: block;}




/* ==========================================================================
   Base
   ========================================================================== */

/*background*/
.background{background:transparent; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.background{opacity: 0;
-webkit-transition-property: width,opacity;
-moz-transition-property: width,opacity;
-o-transition-property: width,opacity;
transition-property: width,opacity;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;}
.background.back_active{opacity: 1}
/*.background img{ max-height: 85%; max-width: 85%;margin: auto;position: absolute;top: 0;left: 0;bottom: 0; right: 0; height: auto; width: auto;}*/
.scene,
.layer{ padding: 0; margin: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; display: block; }
.layer {overflow: visible;}
.scene{top: -5%; left: -5%; right: -5%; bottom: -5%; width: auto; height: auto;}
/*general*/
body{color:@black; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-size: 14px; line-height: 1.4;  }
img{max-width: 100%; height: auto; display: block; width: auto;}
header{}

.container-fluid{}
.hide{display: none !important;}

.wrap-section,
#background{position: fixed; top: 0; left: 0; width: 100%; height: 100%;}
.wrap-section{z-index: 1;}

section{display: block; position: relative; width:33.333%; display: block; height: 100%; float: left; overflow: hidden;
-webkit-transition-property: width;
-moz-transition-property: width;
-o-transition-property: width;
transition-property: width;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s; z-index: 2}
section.close{width: 16.5%;}
section.active{width: 67%;}
#projects{z-index: 9;}
#back_projects{background: @grey;}
#back_projects .background{left: 0; width: 300%}
#programme{}
#back_programme{background: transparent;}
#back_programme .background{}
#information{background: #ccc;}
#back_information{background: @grey;}
#back_information .background{left: auto; right: 0;width: 300%}

#back_background{background: @light-grey; width: 100%; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;}



/*back active states*/

.p-link,
.p-wrap{position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block;}
.p-link{cursor: pointer;z-index: 99999;}
.p-wrap{overflow-y:auto; overflow-x:hidden;}
.p-single{overflow: hidden; position: relative; height: auto; width: 100%; display: block;}
section.active .p-link{display: none;}

/***/
article{padding: 20px 0 20px; display: block; position: relative; height: auto; overflow: hidden; width: 100%;}
.container-fluid{padding: 0 10px;}

.page-title{position: absolute; top: 0; left: 0; width: 100%;padding: 0; margin: 0; z-index: 99; font-weight: normal; display: none;}
.page-title h1{padding: 20px 20px; font-weight: normal;}
h1{font-family: @sans-serif; margin: 0 0 50px; padding: 0; display: block; font-size: 30px;}

/* ==========================================================================
   Projects
   ========================================================================== */
#projects{color: @black;}
#projects article{padding-top: 20px;  }
/*overview*/
.thumb{text-align: center; font-size: 22px; line-height: 1.2;padding-bottom: 10px;padding-top: 10px;}
.thumb a{color: @white; display: block; overflow: hidden; position: relative; background: @white;color: @black; padding: 20px;}
.preview{display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.preview img{max-height: 80%; max-width: 80%; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: auto; width: auto;}
.thumb_info,
.thumb_title,
.thumb_participant,
.thumb_cat{display: block; width: 100%; height: auto; }
.thumb_cat{font-family: @serif; }
.thumb_title{ font-weight: normal; font-family: @display;}
.thumb_participant{ text-transform: uppercase; font-family: @serif; padding-top: 5px;}

.thumb a{
  -webkit-transition-property: color, -webkit-transform;
  -moz-transition-property: color, -moz-transform;
  -o-transition-property: color, -o-transform;
  transition-property: color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
.thumb a{
-ms-transform: translate(0px,0px); /* IE 9 */
-webkit-transform: translate(0px,0px); /* Safari */
transform: translate(0px,0px);
}

.thumb:hover a{
-ms-transform: translate(0px,-5px); /* IE 9 */
-webkit-transform: translate(0px,-5px); /* Safari */
transform: translate(0px,-5px);
}

/* thumb */
#project_thumbs{position: fixed; top: 0; left: 67%; background:transparent; width: 33%; height: 100%; z-index: 999; display: none;}
#project_thumbs.selected{display: block;}
#project_thumbs .preview{display: none;}
#project_thumbs .preview.selected{display: block;}

/*single*/
.single_post{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; overflow: hidden;background: @c-projects;  display: none;}
.single_load{display: block; background: @c-projects; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;z-index: 9;}
.single_post .single_load .loader {bottom: 50%;}


.single_title{color:@white; text-align: center; font-size: 40px; line-height: 46px;padding-bottom: 23px;padding-top: 23px;}
.single_title h1{font-size: 12px; font-weight: normal; line-height: 1.4; padding: 0; margin: 0; text-transform: uppercase;}
.single_participant{}
.single_gallery{padding: 23px 0;}

.slide_wrap{display: block; overflow: hidden; position: relative; width: 100%; max-width: 700px; margin: 0 auto; height: auto;}
.slide_image{display: block; overflow: hidden; width: 100%; height: auto;}
.slide_image img{display: block; overflow: hidden; max-width: 100%; width: auto; height: auto;}
.side_caption{}

.single-close{cursor: pointer;}

.single_description{padding-top: 26px; padding-bottom: 40px; font-size:15px; line-height:22px;  }
.single_description p{margin: 0 0 22px;}
.single_description p:last-child{margin: 0;}

/* ==========================================================================
   Event
   ========================================================================== */
#programme{color: @black;}
#programme a{color: @black;}
#programme article{}

.day-wrap{font-size: 20px;  padding: 20px 0; overflow: hidden; display: block; position: relative; }
.day-title{}
.day-content{}
.day-event{display: block; width: 100%;}
.event_time,.event_title{display: block; width: 100%; position: relative; font-family: @display; font-size: 20px;}
.event_time{font-family: @serif; font-size: 22px;}


/* ==========================================================================
   Information
   ========================================================================== */
#information{background: #ececec}
#information article{font-size: 24px; line-height:1.3;font-family: @display; }
#information article p{padding: 0;margin: 0;}
#information article p:after{content: '';width: 100%; display: inline-block;}
#information article p:last-child{margin: 0;}
#information article a{display: inline-block; color: @black; position: relative;}
#information article a:after{content:'';border-bottom: 1px solid @white; position: absolute; bottom: 0px; left: 1px; right: 1px;}
#information article a:hover:after{border-color: @black;}

.sidebar{}
.sidebar_div{display: block; width: 100%; padding: 0 0 20px; }
.caption{font-family: @serif; font-size: 16px; padding: 10px 0 0;  display: block; font-weight: bold; }

a.dad_link{display: block; position: absolute; bottom: 10px; right: 20px;  z-index: 9; width: 90px; height: 30px;}
a.dad_link span,
a.dad_link:before,
a.dad_link:after{content: ''; display: block; width: 20px; height: 20px; background: @black; border-radius: 100%; float: left; margin: 0 5px;} 

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*tablet*/
@media (max-width: @screen-sm-min) {

}
/*mobile*/
@media (max-width: @screen-xs-min) {

}

