@import "variables.less";
@import "bootstrap/bootstrap.less";


input::-moz-focus-inner { 
  border: 0; 
}
a, a:hover, a:active, a:focus, object, embed {
   outline: 0;
   text-decoration: none;
}

a, a:hover, a:active, a:focus{cursor: pointer;}

.btn,
.btn:focus,
.btn:hover,
.form-control,
.form-control:focus,
.form-control:hover{
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
-moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

img{max-width: 100%;}

a,
a:link,
a:visited,
.btn {
  -webkit-transition-property: color, background, opacity, border-color;
  -moz-transition-property: color, background, opacity, border-color;
  -o-transition-property: color, background, opacity, border-color;
  transition-property: color, background, opacity, border-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }


/* load */
#spinner{background: @body-bg; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999;}

/* ==========================================================================
   Base
   ========================================================================== */

body{-webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-size: 14px; line-height: 20px; letter-spacing: 0.06em; }

/* ==========================================================================
   Single
   ========================================================================== */
.image_wrap{position: fixed; display: block; top: 50px; left: 50px; right: 50px; bottom: 50px; overflow: hidden;}
.image_wrap img {max-height: 100%;max-width: 100%;margin: auto;position: absolute;top: 0;left: 0;bottom: 0;right: 0; height: auto; width: auto;}

.date{position: fixed; bottom: 0px; left: 0; width: 100%; line-height: 50px; text-align: center; }


.nav a:before {
  -webkit-transition-property: margin, width, height;
  -moz-transition-property: margin, width, height;
  -o-transition-property: margin, width, height;
  transition-property: margin, width, height;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }


.nav{display: block; width: 10px; height: 10px; top: 50%;  margin: -5px 20px 0; position: fixed;}
.nav_prev{right: 0px;}
.nav_next{left: 0;}
.nav a{width:10px; height:10px; display:block;position: relative;}
.nav a:hover{color: #000; margin: 0; width: 10px; height: 10px;}

.nav a:before{width:4px; height:4px; background: @brand-primary; display: block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; margin: 3px; position: relative; content:'';}
.nav a:hover:before{color: #000; margin: 0; width: 10px; height: 10px;}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*tablet*/
@media (max-width: @screen-sm-min) {

}
/*mobile*/
@media (max-width: @screen-xs-min) {

}

