@import "variables.less";
@import "bootstrap/bootstrap.less";
@import "slider.less";
@import "fonts.less";

input::-moz-focus-inner { 
  border: 0; 
}
a, a:hover, a:active, a:focus, object, embed {
   outline: 0;
   text-decoration: none;
}

a, a:hover, a:active, a:focus{cursor: pointer;}

.clearfix{.clearfix();}

.btn,
.btn:focus,
.btn:hover,
.form-control,
.form-control:focus,
.form-control:hover{
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
-moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

img{max-width: 100%;}

a,
a:link,
a:visited,
.btn,
#information article a:after,
#programme article a:after {
  -webkit-transition-property: color, background, opacity, border-color;
  -moz-transition-property: color, background, opacity, border-color;
  -o-transition-property: color, background, opacity, border-color;
  transition-property: color, background, opacity, border-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }


html,body{overflow: hidden;}

/* load */
#spinner{background:transparent; position: fixed; top:0; left:0; /*transform: translate(-50%, -50%);*/ width: 100%; height: 100%;/* border-radius:100%;*/  z-index: 999; overflow: hidden;}
/*#spinner{
-ms-transform: translate(0,0);
-webkit-transform: translate(0,0);
transform: translate(0,0);
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-o-transition-duration: 1s;
transition-duration: 1s;
}

#spinner.loadcomplete{-ms-transform: translate(0,-100%);
-webkit-transform: translate(0,-100%);
transform: translate(0,-100%);}*/

.brand{display: block; width: 100%;height: 100%; top: 0; left: 0; position: absolute; overflow: hidden;}
.brand img{max-height: 80%; max-width: 80%; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: auto; width: auto;}

.shadow {
    -webkit-filter: drop-shadow( 0px -5px 5px @black );
            filter: drop-shadow( 0px -5px 5px @black );
}

.loader {
      z-index: 999999;
  position: absolute; bottom: 25%; left: 50%; margin: 0 0 -15px -15px;
  width: 30px;
  height: 30px;
  background-color: @black;
  cursor: pointer;
  overflow: hidden;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;


  -webkit-transition-property:  width, margin, opacity;
  -moz-transition-property: width, margin, opacity;
  -o-transition-property: width, margin, opacity;
  transition-property: width, margin, opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; 

}

#spinner .loader:before{content: 'Enter'; text-transform: uppercase; font-size: 20px; line-height: 28px; color: @white; .opacity(0);
-webkit-transition-property:  width, margin, opacity;
  -moz-transition-property: width, margin, opacity;
  -o-transition-property: width, margin, opacity;
  transition-property: width, margin, opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  25% { -webkit-transform: perspective(120px) rotateY(180deg) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
#spinner .loader.loader-finish{
-webkit-animation: sk-rotateplanetwo 1.2s infinite ease-in-out;
  animation: sk-rotateplanetwo 1.2s infinite ease-in-out;
  width: 80px; text-align: center;
  margin: 0 0 -15px -40px;
  }
#spinner .loader.loader-finish:before{.opacity(1);}

@-webkit-keyframes sk-rotateplanetwo {
  0% { -webkit-transform: perspective(120px) }
  100% { -webkit-transform: perspective(120px) }
}

@keyframes sk-rotateplanetwo {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 100% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
}


.splash-active{}
.wrap-section .section_inside{-ms-transform: translate(0,0);
-webkit-transform: translate(0,0);
transform: translate(0,0);
-webkit-transition-property: -webkit-transform,background;
-moz-transition-property: -moz-transform,background;
-o-transition-property: -o-transform,background;
transition-property: transform,background;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;}
.wrap-section.slide-active .section_inside{-ms-transform: translate(100%,0);
-webkit-transform: translate(100%,0);
transform: translate(100%,0);}

.section_inside{position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; display: block; z-index: 1;}


.wrap-section .background{-ms-transform: translate(0,0);
-webkit-transform: translate(0,0);
transform: translate(0,0);
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;}
.wrap-section.slide-active .background{-ms-transform: translate(100%,0);
-webkit-transform: translate(100%,0);
transform: translate(100%,0);}



/* ==========================================================================
   Base
   ========================================================================== */
::selection { background: @grey; color:@white; /* WebKit/Blink Browsers */ }
::-moz-selection { background: @grey; color:@white;/* Gecko Browsers */}


body.loadcomplete{}

/*background*/
.background{background:transparent; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.background{opacity: 0;
-webkit-transition-property: width,opacity;
-moz-transition-property: width,opacity;
-o-transition-property: width,opacity;
transition-property: width,opacity;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;}
.background.back_active{opacity: 1}
/*.background img{ max-height: 85%; max-width: 85%;margin: auto;position: absolute;top: 0;left: 0;bottom: 0; right: 0; height: auto; width: auto;}*/
.scene,
.layer{ padding: 0; margin: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; display: block; }
.layer {overflow: visible;}
.scene{top: -5%; left: -5%; right: -5%; bottom: -5%; width: auto; height: auto;}
/*general*/
body{color:@black; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-size: 14px; line-height: 1.4;  }
img{max-width: 100%; height: auto; display: block; width: auto;}
header{}

.container-fluid{}
.hide{display: none !important;}

.wrap-section,
#background{position: fixed; top: 0; left: 0; width: 100%; height: 100%;}

.wrap-section{top:0;}
.wrap-section.splash-active{top: -100%;}
.wrap-section{z-index: 1;}

section{display: block; position: relative; width:33.333%; display: block; height: 100%; float: left; overflow: hidden;
-webkit-transition-property: width;
-moz-transition-property: width;
-o-transition-property: width;
transition-property: width;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s; z-index: 2}
section.close{width: 16.5%;}
section.active{width: 67%;}


#projects{z-index: 9;}
#back_homepage{background: @black;}
#back_projects{background: @blue;}
#back_projects .background{left: 0;}
#programme{}
#back_programme{background: @green;}
#back_programme .background{}
#information{}
#back_information{background: @black;}
#back_information .background{left: auto; right: 0;}

#back_background{background: @light-grey; width: 100%; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;}


/*splash active */


/*back active states*/
.p-link,
.p-wrap{position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block;}
.p-link{cursor: pointer;z-index: 99999;}
.p-wrap{overflow-y:auto; overflow-x:hidden;}
.p-single{overflow: hidden; position: relative; height: auto; width: 100%; display: block;}
section.active .p-link{display: none;}

span.tip {
    
    /* Required */
    position: absolute;
    z-index: 99999;
    display: none;
    
    /* Optional */
    font-size: 28px;
    max-width: 150px;
    height: auto;
    padding: 0px;
    /*border-radius: 3px;*/
    /*box-shadow: 0 1px 2px #666;*/
    background: transparent;
    font-family: @sans-serif;
    font-weight: bold;
    color: @white;
    .text-shadow(0 0 5px @black);
} 

/***/
article{padding: 80px 0 20px; display: block; position: relative; height: auto; overflow: hidden; width: 100%;}
.container-fluid{padding: 0 10px;}

.page-title{position: absolute; top: 0; left: 0; width: 100%;padding: 0; margin: 0; z-index: 99; font-weight: normal;}
.page-title h1{padding: 20px 20px; font-weight: bold;}
h1{font-family: @sans-serif; margin: 0 0 50px; padding: 0; display: block; font-size: 30px;}

/* ==========================================================================
   header
   ========================================================================== */


.tws_shadow{background: #000; height: 10px; width: 100%; position: absolute; bottom: 0; left: 0; z-index: 99;
-webkit-box-shadow: 0px 0px 60px 60px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 60px 60px rgba(0,0,0,1);
box-shadow: 0px 0px 60px 60px rgba(0,0,0,1);

-webkit-transition-property: top, bottom;
-moz-transition-property: top, bottom;
-o-transition-property: top, bottom;
transition-property: top, bottom;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
}
.tws_shadow2{ height: 100%; width: 10px;}


a.dad_link{display: block; overflow: hidden; position: absolute; bottom: 20px; right: 20px; width: 200px; z-index: 999;}
a.dad_link img{width: 100%; height: auto; display: block; }

/*body.loadcomplete .tws_shadow1{bottom: 100%;}
body.loadcomplete .tws_shadow2{}*/

.sticker{display: block; overflow: hidden; position: absolute; bottom: 20px; right: 20px; width: 190px; z-index: 999;}
.sticker_1{bottom: auto; right: auto; top: 20%; left: 0; margin-left: -35px;}
.sticker_2{bottom: auto; right: auto; top: 0; left: 25%; margin-top: -100px;}
.sticker_4{right: auto; left: 30%;}
.sticker_5{left: 7%; bottom: 15%;}
.sticker_6{top: 20%; bottom: auto;}

.tws_info{position: absolute; top: 20px; right: 20px; display: block; font-size: 32px; z-index: 9999;}
.tws_info_in{background:#000; color: #fff;padding:0 40px 12px 0; line-height: 28px; display: block; float: left; margin: 0 0 5px;}

.tws_info_two{left: 20px; right: auto; z-index: 9; }
.tws_info_two .tws_info_in{padding:0 0px 8px 80px; background: #66ffff; color: #000;}



/* ==========================================================================
   Projects
   ========================================================================== */
#projects{color: @white; }
#projects:hover .section_inside,
#projects.active .section_inside{background: @blue;}
#projects article{padding-top: 40px;  }
/*overview*/
.thumb{text-align: center; font-size: 26px; line-height: 1.2;padding-bottom: 0px;padding-top: 0px; overflow: hidden;}
.thumb a{display: block; overflow: hidden; position: relative; background: transparent; border-bottom:2px solid @white; color: @white; padding: 40px 20px; cursor: pointer;}
.preview{display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.preview img{max-height: 80%; max-width: 80%; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: auto; width: auto;}
.thumb_info,
.thumb_title,
.thumb_participant,
.thumb_cat{display: block; width: 100%; height: auto; }
.thumb_cat{font-family: @sans-serif;  }
.thumb_title{ font-weight:bold; font-family: @sans-serif; }
.thumb_participant{  font-family: @sans-serif; font-size: 20px; padding-top: 10px;}

.thumb a{
  -webkit-transition-property: color, -webkit-transform;
  -moz-transition-property: color, -moz-transform;
  -o-transition-property: color, -o-transform;
  transition-property: color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
.thumb a{
-ms-transform: translate(0px,0px); /* IE 9 */
-webkit-transform: translate(0px,0px); /* Safari */
transform: translate(0px,0px);
}

.thumb:hover a{
-ms-transform: translate(0px,-5px); /* IE 9 */
-webkit-transform: translate(0px,-5px); /* Safari */
transform: translate(0px,-5px);
}


/* thumb */
#project_thumbs{position: fixed; top: 0; right: 0; background:transparent; width: 33%; height: 100%; z-index: 999; display: none;}
#project_thumbs.selected{display: block;}
#project_thumbs .preview{display: none;}
#project_thumbs .preview.selected{display: block;}

/*single*/
.single_post{color:@black; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; overflow: hidden;background: @white;  display: none;}
.single_load{display: block; background: @white; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;z-index: 9;}
.single_post .single_load .loader {bottom: 50%;}

.single_title{text-align: left;     font-size: 24px; line-height: 1.3;padding-bottom: 40px;padding-top: 40px;}
.single_title h1{font-size: 12px; font-weight: normal; line-height: 1.3; padding: 0; margin: 0; text-transform: uppercase;}
.single_participant{}
.single_gallery{padding: 23px 0;}

.slide_wrap{display: block; overflow: hidden; position: relative; width: 100%; max-width: 700px; margin: 0 auto; height: auto;}
.slide_image{display: block; overflow: hidden; width: 100%; height: auto;}
.slide_image img{display: block; overflow: hidden; max-width: 100%; width: auto; height: auto;}
.side_caption{}

.single-close{cursor: pointer;}

.single_description{padding-top: 26px; padding-bottom: 120px; font-size:24px; line-height:1.3;  }
.single_description p{margin: 0 0 22px;}
.single_description p:last-child{margin: 0;}

.single_tools{background: @white; height: 60px;  font-size:24px; line-height:1.4;width: 100%; position: absolute; bottom: 0; left: 0; z-index: 99;
-webkit-box-shadow: 0px 0px 60px 60px @white;
-moz-box-shadow: 0px 0px 60px 60px @white;
box-shadow: 0px 0px 60px 60px @white;}

.single_tools a{display: inline-block; color: @black; position: relative;}
.single_tools a:after{content:'';border-bottom: 2px solid @blue; position: absolute; bottom: 0px; left: 1px; right: 1px; z-index: -1;}
.single_tools a:hover:after{border-color: @black;}

.single_tools a.back_projects{float: right;}

.single_description a{display: inline-block; color: @black; position: relative;}
.single_description a:after{content:'';border-bottom: 2px solid @blue; position: absolute; bottom: 0px; left: 1px; right: 1px; z-index: -1;}
.single_description a:hover:after{border-color: @black;}


/* ==========================================================================
   Event
   ========================================================================== */
#programme{color: @black;}
#programme:hover .section_inside,
#programme.active .section_inside{background: @green;}
#programme a{color: @black;}
#programme article{}


#programme article a{display: inline-block; color: @black; position: relative;}
#programme article a:after{content:'';border-bottom: 2px solid rgba(0,0,0,0.2); position: absolute; bottom: 0px; left: 1px; right: 1px; z-index: -1;}
#programme article a:hover:after{border-color: rgba(0,0,0,0.6);}



.day-wrap{font-size: 24px; line-height: 1.3;  padding: 0 0 20px; overflow: hidden; display: block; position: relative; }
.day-title hr,
.day-content hr{border:0; width: 100%; position: relative; margin: 10px 0; padding: 0; height: 2px; background: @black;}
.day-content{}
.day-event{display: block; width: 100%; position: relative; padding-bottom: 10px;}
.day-event:last-child{padding: 0;}
.day-event p{margin: 0; padding: 0;}
.event_time,.event_title,.event_location{display: block; width: 100%; position: relative;}
.event_time{position: absolute; top:0; left:0; width: 100px; }
.event_title{padding: 0px 150px 0px 100px;}
.event_location{position: absolute; top: 0; right: 0; width: 140px;}


/* ==========================================================================
   Information
   ========================================================================== */
#information{color: @white; }
#information:hover .section_inside,
#information.active .section_inside{background: @black;}
#information article{font-size: 24px; line-height:1.3;font-family: @sans-serif; font-weight: normal; padding-bottom: 60px; }
#information article p{padding: 0;margin: 0;}
#information article p:after{content: '';width: 100%; display: inline-block;}
#information article p:last-child{margin: 0;}
#information article a{display: inline-block; color: @white; position: relative;}
#information article a:after{content:'';border-bottom: 2px solid @green; position: absolute; bottom: 0px; left: 1px; right: 1px; z-index: -1;}
#information article a:hover:after{border-color: @white;;}

.draggable{
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.info_extra{    font-size: 20px;max-width: 700px; padding-bottom:100px;}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*tablet*/
@media (max-width: @screen-sm-min) {

}
/*mobile*/
@media (max-width: @screen-xs-min) {


}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 1350px) {
}
@media (max-width: 1350px) {
}
@media (max-width: 900px) {
}
/*touch*/
@import "touch.less";
/*smallscreen*/
@media (max-width: @screen-lg-min) { @import "smallscreen.less"; }
/*tablet*/
@media (max-width: @screen-md-min) { @import "tablet.less"; }
/*mobile*/
@media (max-width: @screen-sm-min) { @import "mobile.less"; }